@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




#myDIV {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mynewmove {
  from {top: 0px;}
  to {top: 200px;}
}
/*exam16*/
#mDiv {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-delay: 10s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

/*exam17*/
#bclip {
  width: 300px;
  height: 300px;
  padding: 50px;
  background-color: coral;
  background-clip: border-box;
  color: white;
  border: 5px dotted lightgrey;
}




/*exam19*/
#bs {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background: url('on.gif') no-repeat;
}

/*exam20*/
#bf{
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  animation: mymove 2s infinite linear alternate;
}

@keyframes mymove {
  to {transform: rotateY(180deg);}
}
/*exam22*/

#cbbr {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

/*exam23*/

#cbbrr {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}
/*exam25*/

#cbbw {
  border: 1px solid black;
} 
/*exam30*/
#cboxs {

  position: relative;
  width: 250px;
  height: 250px;
  background-color: lightslategray;
  color: white;

}

  /*exam31*/
  #demo{
  margin-top: 100px;
}

 /*exam32*/
#dem{
  width: 500px;
  height: 500px;
  background-color: lightblue;
}
 /*exam33*/
 #ff{
  font-size: 30px;
 }
  /*exam38*/
#box {
  width: 400px;
  height: 150px;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-around; 
}

#box div {
  width: 70px;
  height: 70px;
}
 /*exam40*/
 #myUL li {
  background-color: lightblue;
}



/*exam42*/
#mr {
  border: 1px solid #FF0000;
}


/*exam47*/
#mh {
  width: 500px;
  background-color: lightblue;
  overflow: auto;
}

/*exam49*/

p#tdc{
   text-decoration: underline;
}